::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }

.Title {
    background-color:none;
    padding: 20px;
    text-align: center;
    align-content: center;
    margin-left: 2%;
    margin-right:2%;
}

.Title3 {
  background-color: none;
  padding: 20px;
  text-align: center;
  align-content: center;
  margin-left: 25%;
  margin-right:2%;
}


body {
    background-color: whitesmoke;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding:0;
    border: 0;
    width:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
p {
  font-size: larger;
}

li {
  font-size: larger;
}

.module {
  margin-left: 22%;
  margin-right:2%;
}

.wrapNavbarHome {
  margin-top: .5%;
  left: 0px;
  margin-left: 25%;
  margin-right: auto;
}

.wrapNavbar {
  margin-top: .5%;
  left: 0px;
}
.homeNavbar {
  background-image: linear-gradient(aliceblue,rgb(170, 215, 255));
  position:fixed;
  overflow:hidden;
  padding: 10px;;
  width:50%;
  border-radius: 30px;
  height: fit-content;
}
.homeNavbar ul {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
  list-style-type:none;
  justify-content:space-around;
  align-items:center;
  overflow-x: hidden;
  text-align: center;
}

.homeNavbar li{
  margin: 10px 10px 10px;
}

.navbar{
  background-color: rgb(179, 219, 255);
  position:static;
  overflow:hidden;
  padding: 10px;;
  width:100%;
}

.navbar2 {
  background-color: rgb(0, 102, 190);
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1)
}

.navbar ul, .navbar2 ul {
    margin-top: -1%;
    margin-bottom: -1%;
    padding: 0;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80px;
  }

  .navbar li, .navbar2 li{
    margin: 0 10px;
  }

.navbar a, .homeNavbar a{
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: -1px;
}

.navbar2 a{
  text-decoration:none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.navbar a:hover, .homeNavbar a:hover{
  color: rgb(0, 102, 190);
  font-size: xx-large;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.navbar2 a:hover {
  color: rgb(194, 227, 255);
  font-size: x-large;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.navbar a.active, .homeNavbar a.active {
  color: rgb(0, 102, 190);
  font-size: xx-large;
}

.sidebar {
  position: absolute;
  left: 2%;
  right: 80%;
  background-color: rgb(255, 255, 153);
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  transition: transform .2s;
}

.sidebarTitle3 {
  position: absolute;
  left: 2%;
  right: 77%;
  background-color: rgb(255, 255, 153);
  padding: 20px;
  border-radius: 30px;
  top: 2%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform .2s;
}

.sidebar p, .sidebar li{
  float: left;
  font-weight: lighter;
  font-size: small;
}

.sidebarTitle3 li, .sidebarTitle3 p{
  float: left;
  font-weight: lighter;
  font-size: small;
}

.sidebar:hover, .sidebarTitle3:hover {
  transform: scale(1.15) translateX(20px);
}

.img{
  display: flex;
  justify-content: center;
}

img{
  max-width: fit-content;
}

.caption {
  text-align:center;
}

.section1, .section2, .section3, .section4, .section5, .section6, .end {
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(aliceblue,rgb(170, 215, 255));
  scroll-margin-top: 100px;
}

.section1, .section2, .section3, .section4, .section5, .section6, .end {
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  /* background-image: linear-gradient(aliceblue,rgb(170, 215, 255)); */
  scroll-margin-top: 100px;
}

/* .section1:hover, .section2:hover, .section3:hover, .section4:hover, .section5:hover, .section6:hover, .end:hover {
  padding: 20px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(aliceblue,rgb(170, 215, 255)); 
  scroll-margin-top: 100px;
} */

.caseStudy {
  width:fit-content;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  background-color: beige;
  padding: 10px;
  transition: transform 1s;
}

.caseStudy:hover{
  transform: scale(1.025);
}

/* .section1 {
  background-image: linear-gradient(aliceblue,rgb(255, 251, 141));
}

.section2 {
  background-image: linear-gradient(aliceblue,rgb(255, 185, 141));
}

.section3 {
  background-image: linear-gradient(aliceblue,rgb(183, 255, 141));}

.section4 {
  background-image: linear-gradient(aliceblue,rgb(141, 255, 242));}

.section5 {
  background-image: linear-gradient(aliceblue,rgb(221, 141, 255));}

.section6 {
  background-image: linear-gradient(aliceblue,rgb(255, 141, 185));}

.end {
  background-image: linear-gradient(aliceblue,rgb(255, 141, 141));
} */
